@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Righteous&family=Shizuru&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    color: #919494;
}

.nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid #919494;
}

.nav li {
    display: inline;
    padding: 0 5%;
}

.nav a {
    display: inline-block;
    padding: .75em;
    color: #f8f8ff;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ffdbdb;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: 'Cinzel', serif;
}

.about-section {
    margin: 1.5em;
}

.container {
 max-width: 1000px;
 margin: 0 auto;
 padding: 0 2em;
}

body {
    height: 100vh;
}

header {
    background-color: royalblue;
    background-image: url(../images/sea.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.section-header {
    font-family: 'Cinzel', serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 3em;
}
